{% extends '../../caretaker/includes/dashboardhome.html' %}
  {% load static %}
      {% block 'title' %}Caretaker||create-category   {% endblock %}
                {% block 'body' %}
                <div class="container-fluid">
                    {% include 'includes/flash-messages.html' %}
                     <div class="row" id="dashboardcustomer" >
                        <div class="col-4">
                        <h3 id="customerDashboard">create Category section</h3>
                            </div>
                        <div class="col-8">
                            <a class="btn btn-dark top-button" href="{% url 'list_category' %}">List category <i class="fas fa-list"></i></a>
                        </div>
                    </div>
                    <hr>
                    <div class="container-fluid">
                        <div class="row justify-content-center">
                            <div class="col-lg-7 col-sm-12 col-md-12">
                                <div class="card">
                                    <div class="card-header">
                                        <h6 id="createcategory" >create category</h6>
                                        <div class="card-body">
                                            <form action="{% url 'create_category' %}" method="POST">
                                                {% csrf_token %}
                                                {% include 'includes/flash-messages.html' %}
                                                {{form.as_p}}
                                                <button style="float:right" class="btn btn-success">Submit <i class="fa fa-paper-plane"></i> </button>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>






                        </div>

            {% endblock %}
        {% block "js" %}
        {% endblock %}

