{% extends '../../caretaker/includes/dashboardhome.html' %}
  {% load static %}
      {% block 'title' %}Caretaker||List-category  {% endblock %}
                {% block 'body' %}
                <div class="container-fluid">
                    {% include 'includes/flash-messages.html' %}
                      <div class="row" id="dashboardcustomer" >
                        <div class="col-4">
                        <h3 id="customerDashboard">List Category section</h3>
                            </div>
                        <div class="col-8">
                            <a class="btn btn-dark top-button" href="{% url 'create_category' %}">Create category <i class="fas fa-plus"></i></a>
                        </div>
                    </div>
                    <hr>
                        <table class="table ">
                            <thead class="thead-dark">
                            <tr>
                                <th  scope="col">sn</th>
                                <th>category</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for cats in category %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{cats.category}}</td>
                                <td>{{cats.status}}</td>
                                <td>
                                    <a href="{% url 'edit_category' cats.id %}" class="btn btn-warning rounded-circle"><i class="fa fa-pen " title="edit" ></i></a>
                                    <form action="{% url 'delete_category' cats.id %}" method="POST" class="d-inline">
                                        {% csrf_token %}

                                        <button type="submit" onclick= "return confirm('Are you sure want to delete {{cats.category}} category')" class="btn btn-danger rounded-circle "><i class="fa fa-trash" data-toggle="tooltip"  title="delete"></i></button>

                                    </form>
                                </td>
                            </tr>
                            {% endfor %}

                            </tbody>
                        </table>

                        </div>

            {% endblock %}
        {% block "js" %}
        {% endblock %}

