{% extends '../../customer/includes/dashboardhome.html' %}
  {% load static %}
      {% block 'title' %}Customer||editTicket  {% endblock %}
          {% block 'css' %}
          <style>
              #updatebutton{
              float:right;
              }
          </style>
          {% endblock %}
                {% block 'body' %}
                <div class="container-fluid" >
                      <div class="row" id="dashboardcustomer" >
                           <div class="col-4">
                            <h3 id="customerDashboard">Create your Ticket</h3>
                       </div>
                    <div class="col-8">
                    <a class=" btn btn-dark  top-button mr-4" href="{% url 'list_ticket' %}">My Tickets</a>
                </div>
                    </div>
                    <hr>
                    {% include 'includes/flash-messages.html' %}
                    <form action="" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{form.as_p}}
                        <hr>

                        <button type="reset" class="btn btn-danger">reset <i class="fas fa-refresh"></i></button>
                        <button type="submit" id="updatebutton" class="btn btn-sm btn-success">update<i class="fa fa-paper-plane"></i></button>

                    </form>

                        </div>

            {% endblock %}
        {% block 'js' %}
        <script>
      tinymce.init({
        selector: '#id_description'
      });
      </script>
        {% endblock %}

