{% extends '../../customer/includes/dashboardhome.html' %}
  {% load static %}
      {% block 'title' %}Customer||List-Tickets  {% endblock %}
                {% block 'body' %}
                <div class="container-fluid ">
                    {% include 'includes/flash-messages.html' %}
                          <div class="row" id="dashboardcustomer">
                        <div class="col-4">
                        <h3 id="customerDashboard">List ticket section</h3>
                        </div>
                        <div class="col-8">
                         <a class=" btn btn-dark top-button" href="{% url 'create_ticket' %}">Create Ticket <i class="fa fa-plus"></i></a>
                        </div>
                        <hr>
                    </div>
                    <hr>
                    {% if ticketList %}
                    <table class="table  table-hover">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="">sn</th>
                            <th scope="col">db_id</th>
                            <th>subject</th>
                            <th>decription</th>
                            <th>Image</th>
                            <th>Action</th>
                        </tr>
                        </thead>

                        <tbody>

                        {% for t in ticketList %}
                        <tr>
                            <td>{{forloop.counter}}</td>
                            <td>{{t.id}}</td>
                            <td>{{t.subject}}</td>
                            {% autoescape off %}
                            <td>{{t.description|truncatewords:5}} <a href="">Read More</a></td>
                            {% endautoescape  %}
                            {% if t.image %}
                            <td>
                                <img src="{{t.image.url}}" height="50" width="50" alt="">
                            </td>
                            {% else %}
                            <td>
                                empty image
                                <img src="" alt="">
                            </td>

                            {% endif %}
                            <td>
                                <a href="{% url 'view_details' t.id %}" class="btn btn-primary rounded-circle"><i class="fa fa-eye "
                                                                                     title="Details info"></i></a>
                                <a href="{% url 'edit_ticket' t.id %}" class="btn btn-warning rounded-circle"><i class="fa fa-pen "
                                                                                     title="edit"></i></a>
                                <form action="{% url 'delete_ticket' t.id  %}" method="POST" class="d-inline">
                                    {% csrf_token %}

                                    <button type="submit"
                                            onclick="return confirm('Are you sure want to delete  category')"
                                            class="btn btn-danger rounded-circle "><i class="fa fa-trash"
                                                                                      data-toggle="tooltip" title="delete"></i></button>

                                </form>
                            </td>
                        </tr>
                        {% endfor %}

                        </tbody>


                    </table>
                    {% else %}
                    <h4>Sorry! you have not issue a ticket yet</h4>
                    {% endif %}

                </div>

            {% endblock %}
        {% block "script" %}
        {% endblock %}

