{% extends '../../customer/includes/dashboardhome.html' %}
  {% load static %}
      {% block 'title' %}Customer||Ticket-details  {% endblock %}
          {% block 'css' %}
          <style>
              #updatebutton{
              float:right;
              }

          </style>
          {% endblock %}
                {% block 'body' %}
                <div class="container-fluid">
                      <div id="dashboardcustomer" >
                        <h3 id="customerDashboard">My Ticket Details</h3>
                    </div>
                    <hr>
                    {% include 'includes/flash-messages.html' %}
                    <div col-4>
                        lohjkdhjhdjfhdshfg
                    </div>


                        </div>

            {% endblock %}
        {% block "script" %}
        {% endblock %}

