{% extends '../customer/includes/dashboardhome.html' %}
  {% load static %}
      {% block 'title' %}Customer||Dashboard   {% endblock %}
                {% block 'body' %}
                <div class="container-fluid">
                    {% include 'includes/flash-messages.html' %}
                    <div id="dashboardcustomer" >
                        <h3 id="customerDashboard">Dashboard</h3>
                    </div>




                        </div>

            {% endblock %}
        {% block 'js' %}
        {% endblock %}

