{% extends '../caretaker/includes/dashboardhome.html' %}
  {% load static %}
      {% block 'title' %}Caretaker||changepassword  {% endblock %}
          {% block 'css' %}
          <style>
              #updatebutton{
              float:right;
              }
              li{
              color:red;
              list-style-type:none;
              }
          </style>
          {% endblock %}
                {% block 'body' %}
                <div class="container-fluid">
                      <div id="dashboardcustomer" >
                        <h3 id="customerDashboard">change your password</h3>
                    </div>
                    {% include 'includes/flash-messages.html' %}
                    <form action="{% url "caretakerchangepassword" %}" method="Post" novalidate>
                        {% csrf_token %}
                       <!-- <label for="">current password:</label>

                        <input type="password" name="old_password" class="form form-control" placeholder="enter the old password">
                        <hr>
                         <label for="">new password:</label>
                        <input type="password" name="new_password" class="form form-control" placeholder="enter the new password">
                        <hr>
                         <label for="">confirm password:</label>
                        <input type="password" name="confirm_password" class="form form-control" placeholder="enter the new password again">
                        <hr>

-->
                         {{form.as_p}}

                        <button id="updatebutton" class="btn btn-sm btn-success">Update <i class="fa fa-paper-plane"></i></button>

                    </form>

                        </div>

            {% endblock %}
        {% block "js" %}
        {% endblock %}

